<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--<add key="Ben_Details" connectionString="Data Source=RATAN\MSSQLSERVER1;Initial Catalog=SSPPrematricProcessing2223;User ID=sa;Password=tmp123" providerName="System.Data.SqlClient"/>-->
    <!--<add key="Ben_Details" value="Data Source=.;Initial Catalog=SSPPostmatricProcessing;uid=sspostsa;pwd=s$post2019;" />-->
    <add key="Ben_Details" value="Data Source=RATAN\MSSQLSERVER1;Initial Catalog=SSP_GetData;uid=sspostsa;pwd=s$post2019;" />
    <add key="FamilyUrl" value="https://kutumba-services.karnataka.gov.in/fidapienc/"/>
    
    <add key="AESKEY" value="5F2E55776F34492C8A29B2BCBCDC3292"/>
    <add key="IVKEY" value="1231233213214566"/>
    <add key="ClientCode" value="9320165644"/>
    <add key="HMACKey" value="28E31322-982A-4BDA-AC1D-89682CF52368"/>
  </appSettings>
</configuration>